{{- include "archy.validateValues" . -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "archy.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "archy.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - port: 443
      targetPort: webhook
      protocol: TCP
      name: webhook
  selector:
    {{- include "archy.selectorLabels" . | nindent 4 }}